$break-small: 600px;
$break-large: 1200px;
$black-color: #000;
.category-directory {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;

  @media screen and (max-width: $break-small) {
    width: 95vw;
    height: 60vh;

    &.category-directory_seeMore {
      height: 100%;
      transition: all 0.3s;
      background: none;
    }
  }
}
