@import '../../utilities/break_variables.scss';
@import '../../utilities/color_variables.scss';

.category-directory {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;

  @media screen and (max-width: $break-small) {
    width: 95vw;
    height: 60vh;

    &.category-directory_seeMore {
      height: 100%;
      background: none;
    }
  }
}
