@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
$break-small: 600px;
$break-large: 1200px;
.header {
  display: flex;
  flex-direction: column;
  .header__logo {
    align-self: center;
    .header__src:hover {
      width: 96px;
    }
  }
  .header__content {
    display: flex;
    align-self: center;
    .header__icon {
      display: none;
      &.visible {
        display: block;
      }
      align-self: center;
      margin-right: 20px;
      cursor: pointer;
    }
    .header__content__text {
      font-family: 'Rock Salt', cursive;
      @media screen and (max-width: $break-small) {
        font-size: 1rem;
      }
    }
  }
}
