@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spinner__loading {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #f15b23;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 100;
  animation: spin 1.2s linear infinite;
}
