.joke-directory {
  width: 100%;
  display: flex;
  min-height: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
  font-style: italic;
  font-size: 2rem;
  .joke-directory__text {
    text-align: center;
    width: 100%;
  }
}
