@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
$break-small: 600px;
$break-large: 1200px;
$black-color: #000;
.footer {
  display: none;
  @media screen and (max-width: $break-small) {
    display: block;
    background: #000;
    padding: 20px 0px;
  }

  .footer__container {
    display: flex;
    justify-content: center;
    .footer__linkedin {
      .svg-inline--fa.fa-linkedin.fa-w-14 {
        width: 70px;
        height: 70px;
        padding: 10px;
      }
    }
    .footer__github {
      .svg-inline--fa.fa-github.fa-w-16 {
        width: 70px;
        height: 70px;
        padding: 10px;
      }
    }
  }
  .footer__text {
    color: #fff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    .footer__text_love {
      color: red;
    }
  }
}
