@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
